/* bottom center */
#wowslider-container1  .ws_bullets {
    top: 6px;
    right: 6px;
}

#wowslider-container1 { 
/*	overflow: hidden; */
/*	zoom: 1; */
	position: relative; 
	width:940px;
	height:291px;
/*	margin:0 auto;
/*	z-index:100; */

}
#wowslider-container1 .ws_images{
	position: absolute; 
	left:0px;
	top:0px;
	width:940px;
	height:291px;
	overflow:hidden;
}
#wowslider-container1 .ws_images a{
	color:transparent;
}

#wowslider-container1 .ws_images img{
	top:0;
	left:0;
	border:none 0;
}
#wowslider-container1 a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container1  .ws_bullets { 
	font-size: 0px; 
	padding: 10px; 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container1  .ws_bullets div{
	position:relative;
	float:left;
}
#wowslider-container1 .ws_bullets a { 
	width:22px;
	height:22px;
	background: url(./bullet.png) left top;
	float: left; 
	text-indent: -1000px; 
	position:relative;
}
#wowslider-container1 .ws_bullets a.ws_selbull, #wowslider-container1 .ws_bullets a:hover{
	background-position: 0 100%;
}
#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev {
	position:absolute;
	display:none;
	top:50%;
	margin-top:-15px;
	z-index:60;
	height: 30px;
	width: 30px;
	background-image: url(./arrows.png);
}
#wowslider-container1 a.ws_next{
	background-position: 100% 0;
	right:21px;
}
#wowslider-container1 a.ws_prev {
	left:21px;
	background-position: 0 0; 
}
* html #wowslider-container1 a.ws_next,* html #wowslider-container1 a.ws_prev{display:block}
#wowslider-container1:hover a.ws_next, #wowslider-container1:hover a.ws_prev {display:block}

#wowslider-container1 .ws-title{
	position:absolute;
	display:block;
	bottom: 20px;
	left: 20px;
	margin-right:25px;
	padding:10px;
	background-color:white;
	color:black;
	z-index: 50;
	border-radius:8px;
	font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
	opacity:0.5;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);	
}
#wowslider-container1 .ws-title div{
	padding-top:5px;
	font-size: 12px;
}#wowslider-container1 .ws_bullets  a img{
	text-indent:0;
	display:block;
	top:20px;
	left:-120px;
	visibility:hidden;
	position:absolute;
    -moz-box-shadow: 0 0 5px #FFF;
	box-shadow: 0 0 5px #FFF;
    border: 2px solid #000;
	border-radius:4px;
	-moz-border-radius:4px;
}
#wowslider-container1 .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container1 .ws_bulframe div div{
	height:90px;
	overflow:visible;
	position:relative;
}
#wowslider-container1 .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:240px;
}
#wowslider-container1  .ws_bullets .ws_bulframe{
	display:none;
	top:25px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    -moz-box-shadow: 0 0 5px #FFF;
	box-shadow: 0 0 5px #FFF;
    border: 2px solid #000;
	border-radius:4px;
	-moz-border-radius:4px;
}
#wowslider-container1 .ws_bulframe span{
	display:block;
	position:absolute;
	top:-8px;
	margin-left:1px;
	left:120px;
	background:url(./triangle.png);
	width:15px;
	height:6px;
}