body{
	font-family: Tahoma; 
    margin: 0px;
    background: #f9f9f9 !important;
} 
.content-home {
	background: #fff;
    box-shadow: 3px 3px 5px #f2f2fe;
    height: 570px;
    padding: 10px;
}     
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	border-top: 2px solid #000915;
    border-radius: 0px;
}
.nav-pills > li > a {
	border-radius: 0px;
}
#header {
	position: relative;
	background-image: url(images/back.gif);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	width: 850px;
	border: 2px solid #265180;
	padding-top: 70px;
	text-align: left;
}

#content {
	margin-left: 230px;
	padding: 20px 10px 0 0;
}
#content p {
	font-size: 75%;
	line-height: 1.8em;
	padding-left: 2em;
}
#menu {
  position: relative;
  float: left;
	top: 37px;
	left: 0;
	width: 180px;
}
#menu #chat{
font-size :10px;
}

#menu #chat a:link, #menu #chat a:visited{
	display: block;
	padding: 5px 5px 5px 0.5em;
	background-color: #FFFFFF;
	color: #265180;
	text-decoration: none;
	border-right-width: 1px;
	border-left-width: 12px;
	border-right-style: none;
	border-left-style: none;
	border-right-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
#menu li {
	width: 180px;
	border-bottom: 1px solid #969BA5;
	margin: 0;
	padding: 0;
	font-size: 80%;
	vertical-align: bottom; 
}
#menu a:link, #menu a:visited {
	display: block;
	padding: 5px 5px 5px 0.5em;
	background-color: #86E786;
	color: #265180;
	text-decoration: none;
	border-right-width: 1px;
	border-left-width: 12px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #62DF62;
	border-left-color: #62DF62;
}
#menu a:hover {
	background-color: #265180;
	color: #FFFFFF;
}

a:link,a:visited {
  color:#265180;
}
a:hover {
	color: #FF6600;
	text-decoration:none;
}
h2 {   
	font: normal 120% Georgia;
	line-height: 200%;
	color: #265180;
	background-color: transparent;
	border-bottom: 1px dotted #265180;
}
table {
	font-family: Tahoma; 
	font-size: 8pt;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	border-collapse: collapse;
	margin: 10px 0px;
}
th{
	color: #FFFFFF;
	font-size: 7pt;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5em;
	border-width: 1px;
	border-style: solid;
	border-color: #969BA5;
	border-collapse: collapse;
	background-color: #265180;
}
td{
	padding: 0.5em;
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: #969BA5;
	border-collapse: collapse;
}
input,textarea,select{
	font-family: Tahoma; 
	font-size: 8pt;
}
#paging{
	font-family: Tahoma; 
	font-size: 8pt; 
}
#footer{
  clear :both;
	padding: 20px 0 10px 255px;
	font-size: 70%;
	color: #FFFFFF;
	background-color: #62DF62;
}
/* field validation */
input.disabled {
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
}

input.required, textarea.required {
	border: 1px solid #00A8E6;
}
input.validation-failed, textarea.validation-failed {
	border: 1px solid #FF3300;
	color : #FF3300;
}
input.validation-passed, textarea.validation-passed {
	border: 1px solid #00CC00;
	color : #000;
}

.validation-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #FF3300;
	color : #FFF;
	font-weight: bold;
}

.custom-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #C8AA00;
	color : #FFF;
	font-weight: bold;
}
